@import "tailwindcss";

@theme {
  --font-sans: 'Inter', 'Noto Sans TC', 'Noto Sans SC', 'Noto Sans JP', 'PingFang TC', 'Microsoft JhengHei', 'PingFang SC', 'Microsoft YaHei', ui-sans-serif, system-ui, sans-serif;
  --color-amber-50: #eefbf5;
  --color-amber-100: #d6f4e6;
  --color-amber-200: #b1e8cf;
  --color-amber-300: #82d8b3;
  --color-amber-400: #4ec18f;
  --color-amber-500: #029053;
  --color-amber-600: #017a47;
  --color-amber-700: #01663c;

  --color-orange-500: #0c7a55;
}
